@import "./config";

body {
  background: $primary-color;
  color: $text-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden
}

header {
  @include flexHeader(row);

  a {
    position: relative;
    text-decoration: none;
    color: $text-color;
    left: 0.5rem;
    margin: 10px;
    font-weight: bolder;
  }
  h1 {
    color: $header-color;
    margin: 10px;
  }
  a:hover {
    color: $secondary-color;
  }
}

.text {
  color: $secondary-color;
}

.home {
  position: relative;
  @include flexCenter(column);
  top: 200px;

  .name {
    font-size: 50px;
    border-bottom: solid $text-color;
  }

  .skillset {
    display: flex;
    gap: 50px;
    margin: 20px;
  }

  img {
    height: 50px;
  }

  .wd-img img {
    position: relative;
    top: 8rem;
    height: 600px;
  }
.icons_border {
  position: relative;
  background-color: rgb(225, 224, 224);
  top: 18rem;
  display: flex;
  gap: 231px;
  border-block: 8px solid black;

}

.icons {
  height: 80px;
  margin: 10px;
}

}

.about {
  position: relative;
  top: 40rem;
  margin: 10px;
  font-weight: bolder;

  color: white;
  padding: 20px;
  h1 {
    font-size: 40px;
    color: $secondary-color;
  }

  ul {
    list-style: none;
  }
}

footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60rem;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: $secondary-color;

  img {
    position: relative;
    right: 13rem;
    height: 50px;
    width: auto;
  }
  p {
    position: relative;
    right: 21rem;
    font-size: 25px;
  }
  a {
    text-decoration: none;
    color: blue;
  }
}

.works {
  position: relative;
  top: 50rem;
  h1 {
    text-align: center;
    font-size: 50px;
    color: $secondary-color;
  }
 span {
   position: absolute;
   color: black;
   font-weight: bolder;
   top: 200px;
   margin-left: 90px;
   border-radius: 2rem;
   z-index: 10;
   padding: 10px 60px;
   background: rgba(216, 0, 0, 0.5);
 }
 p {
   position: relative;
   padding: 20px;
   font-size: 20px;
   top: 200px;
   color: $secondary-color;
 }
 .git {
   position: relative;
   top: 80px;
   left: 400px;
   height: 100px;
   width: auto;
   border: none;
 }

 a{
   text-decoration: none;
   color: lightblue;
 }
  img {
    position: relative;
    height: 200px;
    width: 400px;
    margin: 30px;
    top: 10rem;
    border: 5px solid black;
    border-radius: 100rem;
    z-index: 5;
  }

  img:hover {
    opacity: 0.5;
  }
}

