.movies {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  position: relative;
  padding: 10px;
  top: 200px;
  row-gap: 2rem;
  p {
    font-weight: bolder;
    font-size: 15px;
  }

  .movie {
    background-color: white;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    width: 235px;

    img {
      height: 300px;
      width: 210px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
