.movies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  padding: 10px;
  position: relative;
  padding: 10px;
  top: 200px;
  row-gap: 2rem;
}

.movies p {
  font-weight: bolder;
  font-size: 15px;
}

.movies .movie {
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  width: 235px;
}

.movies .movie img {
  height: 300px;
  width: 210px;
}

.movies .movie:hover {
  opacity: 0.5;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #34568b;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header span {
  color: crimson;
}

header h1 {
  color: #eee;
  font-weight: bolder;
  font-size: 40px;
}

header .dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: bolder;
}

header .dropdown {
  position: relative;
  display: inline-block;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .dropdown-content a:hover {
  background-color: #ddd;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown:hover .dropbtn {
  background-color: darkblue;
}

header #search {
  position: relative;
  left: 30px;
  font-size: 25px;
  width: 600px;
  background-color: lightgray;
  color: white;
  border: 2px solid black;
  padding: 10px;
}

header .search {
  height: 50px;
  cursor: pointer;
}

header .search:hover {
  opacity: 0.4;
}

header .auth {
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  left: 29px;
}

header .auth:hover {
  color: black;
}

header .user {
  height: 50px;
}

.modal {
  position: relative;
  background-color: white;
  padding: 50px;
  width: 800px;
  top: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  border-radius: 5rem;
  z-index: 10;
}

.modal img {
  position: absolute;
  bottom: 400px;
  left: 720px;
  height: 20px;
  cursor: pointer;
}

.modal input {
  padding: 5px;
  font-size: 20px;
}

.modal .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: relative;
  left: 20px;
}

.modal .login p {
  font-weight: bolder;
}

.modal .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: relative;
  left: 80px;
}

.modal p {
  font-weight: bolder;
}

.modal .gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 15px;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
/*# sourceMappingURL=main.css.map */